<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
</head>

<body style="background-color: white; color: black;">
    <header>
        <div class="head " style="position:relative;">
            <div class="header">
                <div class="header-nav">
                    <div class="header-logo">
                        <a href="{{url_for('admin_panel')}}">Admin</a>
                    </div>
                    <div class="header-list">
                        <ul style='margin-bottom:  0rem;'>
                            <a href="{{url_for('home_list')}}">
                                <li>Home</li>
                                <span class="underlineHeader"> 
                        </a>
                        <a href="{{url_for('admin_about')}}"  class="smooth">
                            <li class="smooth">About</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="{{url_for('resume_list')}}"  class="smooth">
                            <li class="smooth">Resume</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="#services"  class="smooth">
                            <li class="smooth">Services</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="#skils"  class="smooth">
                            <li class="smooth">Skills</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href=""  class="smooth">
                            <li class="smooth">Projects</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="{{url_for ('blog_list')}}"  class="smooth">
                            <li class="smooth">My Blog</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="{{url_for('messages')}}"  class="smooth">
                            <li class="smooth">Messages</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="{{url_for('comments')}}"  class="smooth">
                            <li class="smooth">Comments</li>
                            <span class="underlineHeader"> 
                        </a>
                    </ul>
                   
                    
                        
                    </span>
                    </div>
                </div>
            </div>
    </header>
</body>

</html>