<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/blogStyle.css')}}">

</head>

<body>
    <header>
        <div class="header">
            <div class="header-nav">
                <div class="header-logo">
                    <a href="/">Clark</a>
                </div>
                <div class="header-list">
                    <ul>
                        <a href="{{url_for('main_page')}}">
                            <li>Home</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="">
                            <li>About</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="">
                            <li>Resume</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="">
                            <li>Services</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="">
                            <li>Skills</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="">
                            <li>Projects</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="">
                            <li>My Blog</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="">
                            <li>Contact</li>
                            <span class="underlineHeader"> 
                        </a>
                    </ul>
                                  
                    </div>
            </div>
    </header>

    <main>
        <div class="single-blog">
            <div class="single-blog-container">
                <div class="single-blog-container-text">
                    <h1>Blog Single Post</h1>
                    <p>
                        <span>
                            <a href="/">Home <i class="fas fa-angle-right"></i></a>
                        </span>
                            <span>
                            <a href="/blog">Blog <i class="fas fa-angle-right"></i></a>
                        </span>
                            <span>
                            Blog Single <i class="fas fa-angle-right"></i>
                        </span>
                            </p>
                </div>

            </div>


        </div>

        <div class="single-blog-main">

            </form>
        </div>
        </div>
        <div class="row2">
            <div class="sidebar">
                <input type="text" placeholder="Type a keyword and hit enter">
                <i class="fas fa-search"></i>
            </div>
            <div class="categories">
                <h3>Categories</h3>
                {% for blogcategories in blogcategories %}
                <li> <a href="">{{blogcategories.title}}</a> <span>(12)</span> </li>
                {% endfor %}
            </div>
            <div class="recent-blog">
                <h3>Recent Blog</h3>
                {% for blog in blogs %}
                <div class="blog1">
                    <a href="{{url_for('single_blog', id=blog.id)}}" class="image"> <img src="../static/uploads/{{blog.image}}" alt=""></a>
                    <h3 class="heading"> <a href=""> {{blog.title}}</a></h3>
                    <div class="date">
                        <div> <a href="{{url_for('single_blog', id=blog.id)}}"><i class="far fa-calendar-alt"></i>{{blog.date_posted.strftime('%Y-%m-%d')}}</a> </div>
                        <div> <a href="{{url_for('single_blog', id=blog.id)}}"><i class="fas fa-user-alt"></i>Admin</a> </div>
                        <div> <a href="{{url_for('single_blog', id=blog.id)}}"><i class="fas fa-comment-alt "></i>19</a> </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tag-cloud">
                <h3>Tag Cloud</h3>
                <div class="tag">
                    <a href="">House</a>
                    <a href="">Office</a>
                    <a href="">Bulding</a>
                    <a href="">Land</a>
                    <a href="">Table</a>
                    <a href="">Interior</a>
                    <a href="">Exterior</a>
                    <a href="">Indistrual</a>
                </div>
            </div>

        </div>
        </div>
        </div>
        </main>
        <footer>
            <div class="footer">
                <div class="footer-container">
                    <div class="row1">
                        <h2>About</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="social">
                            <a href="" class="twitter">
                                <li><i class="fab fa-twitter "></i></li>
                            </a>
                            <a href="" class="facebook">
                                <li><i class="fab fa-facebook-f "></i></li>
                            </a>
                            <a href="" class="instagram">
                                <li><i class="fab fa-instagram"></i></li>
                            </a>

                        </ul>
                    </div>
                    <div class="row2">
                        <h2>Links</h2>
                        <ul>
                            <a href="">
                                <i class="fa fa-long-arrow-alt-right"></i>
                                <li> Home</li>
                            </a>
                            <a href="">
                                <i class="fa fa-long-arrow-alt-right"></i>
                                <li>About</li>
                            </a>
                            <a href="">
                                <i class="fa fa-long-arrow-alt-right"></i>
                                <li>Services</li>
                            </a>
                            <a href="">
                                <i class="fa fa-long-arrow-alt-right"></i>
                                <li>Projects</li>
                            </a>
                            <a href="">
                                <i class="fa fa-long-arrow-alt-right"></i>
                                <li>Contact</li>
                            </a>
                        </ul>
                    </div>
                    <div class="row3">
                        <h2>Services</h2>
                        <ul>
                            <a href="">
                                <i class="fa fa-long-arrow-alt-right"></i>
                                <li>Web Design</li>
                            </a>
                            <a href="">
                                <i class="fa fa-long-arrow-alt-right"></i>
                                <li>Web Development</li>
                            </a>
                            <a href="">
                                <i class="fa fa-long-arrow-alt-right"></i>
                                <li>Business Strategy</li>
                            </a>
                            <a href="">
                                <i class="fa fa-long-arrow-alt-right"></i>
                                <li>Data Analysis</li>
                            </a>
                            <a href="">
                                <i class="fa fa-long-arrow-alt-right"></i>
                                <li>Graphic Design</li>
                            </a>
                        </ul>
                    </div>
                    <div class="row4">
                        <h2>Have a Questions?</h2>
                        <ul>
                            <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <li> 203 Fake St. Mountain View, San Francisco, California, USA</li>
                            </p>
                            <a href="">
                                <i class="fas fa-phone-alt"></i>
                                <li>+2 392 3929 210
                                </li>
                            </a>
                            <a href="">
                                <i class="fas fa-envelope"></i>
                                <li>info@yourdomain.com</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <span>Copyright ©2021 All rights reserved</span>
            </div>
        </footer>
</body>

</html>