<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
</head>

<body>
    <header>
        <div class="head">
            <div class="header">
                <div class="header-nav">
                    <div class="header-logo">
                        <a href="#index.html">Clark</a>
                    </div>
                    <div class="header-list">
                        <ul>
                            <a href="">
                                <li>Home</li>
                                <span class="underlineHeader"> 
                        </a>
                        <a href="#about"  class="smooth">
                            <li class="smooth">About</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="#resume"  class="smooth">
                            <li class="smooth">Resume</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="#services"  class="smooth">
                            <li class="smooth">Services</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="#skills"  class="smooth">
                            <li class="smooth">Skills</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="#projects"  class="smooth">
                            <li class="smooth">Projects</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="#blog"  class="smooth">
                            <li class="smooth">My Blog</li>
                            <span class="underlineHeader"> 
                        </a>
                        <a href="#contact"  class="smooth">
                            <li class="smooth">Contact</li>
                            <span class="underlineHeader"> 
                        </a>
                    </ul>
                   
                    
                        
                    </span>
                    </div>
                </div>
            </div>
    </header>
    <main>
        <div class="sliderShowContainer">
            {% for home in home %}
            <div class="slider">
                <div class="main-hello">
                    <div class="main-text ">
                        <span class="main-text-hello">{{home.title}}</span>
                        <h1 class="main-text-about">{{home.description}}</h1>
                        <div class="button">
                            <a href="" class="hire-me">Hire Me</a>
                            <a href="" class="my-works">My Works</a>
                        </div>
                    </div>
                    <img src="../static/uploads/{{home.image}}" alt="">
                </div>
            </div>
            {% endfor %}



            <p class="buttons">
                <span class="dot1"></span>
                <span class="dot2"></span>
            </p>
        </div>
        <!--ABOUT-->
        <div class="about" id="about">
            <div class="about-img ">
                <img src="../static/uploads/{{about.image}}" alt="">
            </div>
            <div class="about-me _anim">
                <div class="about-me-list">
                    <h1>About</h1>
                    <h2>About Me</h2>
                    <p>
                        A small river named Duden flows by their place and supplies it with the necessary regelialia
                        <p>
                            <ul>
                                <li><span class="first">Name:</span>
                                    <span class="second">{{about.name}}</span></li>
                                <li><span class="first">Date of birth:</span>
                                    <span class="second">{{about.brth_day}}</span></li>
                                <li><span class="first">Address:</span>
                                    <span class="second">{{about.adress}}</span></li>
                                <li><span class="first">Zip code:</span>
                                    <span class="second">
                                        {{about.zip_code}}</span></li>
                                <li><span class="first">Email:</span>
                                    <span class="second">{{about.email}}</span></li>
                                <li><span class="first">Phone:</span>
                                    <span class="second">
                                    {{about.phone}}</span></li>
                            </ul>
                </div>
                <div class="projectAndDownload">
                    <div class="text">

                        <span class="number">{{value.about}}</span>
                        <span>Project complate</span>

                    </div>
                    <a href=""> Download CV</a>
                </div>
            </div>
        </div>
        <!--RESUME-->
        <div class="resume" id="resume">
            <div class="resume-content">
                <div class="resume-content-text">
                    <h1>Resume</h1>
                    <h2>Resume</h2>
                    <p>
                        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                        <p>
                </div>
                <div class="resume-content-div">
                    {% for resume in resume %}
                    <div class="resume-content-left">
                        <div class="left1">
                            <span class="date">{{resume.date}}</span>
                            <h2>{{resume.degree}}</h2>
                            <span class="company">{{resume.company_name}}</span>
                            <p>{{resume.description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="resume-content-button">
                    <a href="">Download CV</a></p>
                </div>
            </div>
        </div>
        <!--SERVICES-->

        <div class="services" id="services">
            <div class="services-content">
                <div class="services-content-text">
                    <h1>Services</h1>
                    <h2>Services</h2>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
                        <p>
                </div>
                <div class="services-content-row">
                    <div class="row1">

                        <a href="">
                            <span class="icon">
                                <i class="fas fa-chart-line fa-3x"></i>
                            </span>
                            <h3>Web Design</h3>
                            <span class="underline"></span>
                        </a>
                    </div>
                    <div class="row2">
                        <a href="">
                            <span class="icon">
                                <i class="fas fa-flask fa-3x"></i>
                               </span>
                            <h3>App Developing</h3>
                            <span class="underline"></span>
                        </a>
                    </div>
                    <div class="row3">
                        <a href="">
                            <span class="icon">
                                <i class="far fa-lightbulb fa-3x"></i>
                               </span>
                            <h3>Phtography</h3>
                            <span class="underline"></span>
                        </a>
                    </div>
                    <div class="row4">
                        <a href="">
                            <span class="icon">
                                <i class="fas fa-chart-line fa-3x"></i>
                               </span>
                            <h3>Branding</h3>
                            <span class="underline"></span>
                        </a>
                    </div>
                    <div class="row5">
                        <a href="">
                            <span class="icon">
                                <i class="fas fa-flask fa-3x"></i>
                               </span>
                            <h3>Web Developer</h3>
                            <span class="underline"></span>
                        </a>
                    </div>
                    <div class="row6">
                        <a href="">
                            <span class="icon">
                                <i class="far fa-lightbulb fa-3x"></i>
                               </span>
                            <h3>Product Strategy</h3>
                            <span class="underline"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!--SKILLS-->
        <div class="skills" id="skills">
            <div class="skills-content">
                <div class="skills-content-text">
                    <h1>Skills</h1>
                    <h2>My Skills</h2>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
                        <p>
                </div>
                <div class="skills-content-row">
                    <div class="row1">
                        <h3>Photoshop</h3>
                        <span class="border">
                            <p style="left: {{value.skill_ps}}%;"> {{value.skill_ps}}%</p>
                            <span class="yellow" style="width: {{value.skill_ps}}%;"></span>
                        </span>
                    </div>
                    <div class="row2">
                        <h3>jQuery</h3>
                        <p style="left: {{value.skill_ps}}%;"> {{value.skill_jquerry}}%</p>
                        <span class="border">
                            <span class="yellow" style="width: {{value.skill_ps}}%;"></span>
                        </span>
                    </div>
                    <div class="row3">
                        <h3>HTML5</h3>
                        <p style="left: {{value.skill_html5}}%;"> {{value.skill_html5}}%</p>
                        <span class="border">
                            <span class="yellow" style="width: {{value.skill_html5}}%;"></span>
                        </span>
                    </div>
                    <div class="row4">
                        <h3>CSS3</h3>
                        <p style="left: {{value.skill_css}}%;"> {{value.skill_css}}%</p>
                        <span class="border">
                            <span class="yellow" style="width: {{value.skill_html5}}%;"></span>
                        </span>
                    </div>
                    <div class="row5">
                        <h3>WordPress</h3>
                        <p style="left: {{value.skill_wordpress}}%;"> {{value.skill_wordpress}}%</p>
                        <span class="border">
                            <span class="yellow" style="width: {{value.skill_wordpress}}%;"></span>
                        </span>
                    </div>
                    <div class="row6">
                        <h3>SEO</h3>
                        <p style="left: {{value.skill_seo}}%;"> {{value.skill_seo}}%</p>
                        <span class="border">
                            <span class="yellow" style="width: {{value.skill_seo}}%;" ></span>
                        </span>
                    </div>
                </div>

            </div>

        </div>
        <!--Our Projects  -->
        <div class="projects" id="projects">
            <div class="projects-container">
                <div class="projects-container-text">
                    <h1>Projects</h1>
                    <h2>Our Projects</h2>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
                        <p>
                </div>
                <div class="projects-container-content">
                    <div class="projects-container-content1 col-4">
                        <div class="row1 hover">
                            <div class="index1  show">
                                <h3>
                                    <a href=""> Branding & Illustration Design</a></h3>
                                <span class="indexSpan">Web Design</span>
                            </div>
                            <img src="{{url_for('static', filename='img/project-4.jpg')}}" alt="" class="image">
                        </div>
                    </div>
                    <div class="projects-container-content2 col-8">
                        <div class="row2 hover">
                            <div class="index2 show">
                                <h3>
                                    <a href=""> Branding & Illustration Design</a></h3>
                                <span class="indexSpan">Web Design</span>
                            </div>
                            <img src="{{url_for('static', filename='img/project-5.jpg')}}" alt="" class="image">

                        </div>
                    </div>
                    <div class="projects-container-content3 col-8">
                        <div class="row3 hover">

                            <div class="index3  show">
                                <h3>
                                    <a href=""> Branding & Illustration Design</a></h3>
                                <span class="indexSpan">Web Design</span>
                            </div>

                            <img src="{{url_for('static', filename='img/project-1.jpg')}}" alt="" class="image">
                        </div>
                        <div class="row4 hover">
                            <div class="index4  show">
                                <h3>
                                    <a href=""> Branding & Illustration Design</a></h3>
                                <span class="indexSpan">Web Design</span>
                            </div>
                            <img src="{{url_for('static', filename='img/project-6.jpg')}}" alt="" class="image">
                        </div>
                    </div>
                    <div class="projects-container-content4 col-4">
                        <div class="row5 hover">
                            <div class="index6  show">
                                <h3>
                                    <a href=""> Branding & Illustration Design</a></h3>
                                <span class="indexSpan">Web Design</span>
                            </div>
                            <img src="{{url_for('static', filename='img/project-2.jpg')}}" alt="" class="image">
                        </div>
                        <div class="row6 hover">
                            <div class="index6  show">
                                <h3>
                                    <a href=""> Branding & Illustration Design</a></h3>
                                <span class="indexSpan">Web Design</span>
                            </div>
                            <img src="{{url_for('static', filename='img/project-3.jpg')}}" alt="" class="image">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--OUR BLOG-->

        <div class="blog" id="blog">
            <div class="blog-container col-12">
                <div class="blog-container-text">
                    <h1>Blog</h1>
                    <h2>Our Blog</h2>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
                        <p>
                </div>
                <div class="blog-container-content">
                    {% for blog in blogs %}
                    <a href="{{url_for('single_blog', id=blog.id)}}">
                        <div class="blog-container-row1 col-4">
                            <div class="blog-image">
                                <img src="static/uploads/{{blog.image}}" alt="">
                            </div>
                            <div class="blog-container-span">
                                <span class="date">{{blog.date_posted.strftime('%M-%d-%y')}}</span>
                                <span>Admin</span>
                                <span><i class="fas fa-comment-alt "></i>3</span>
                            </div>
                    </a>
                    <a href="" class="text">{{blog.title}}</a>
                    <p>{{blog.short_description}}</p>
                    </div>




                    {% endfor %}
                </div>

            </div>


        </div>


        <div class="blog-section">
            <div class="blog-section-parts">
                <div class="row1">
                    <span>{{value.awards}}</span>
                    <p>Awards</p>
                </div>
                <div class="row2">
                    <span>{{value.projects}}</span>
                    <p>Complete Projects</p>
                </div>
                <div class="row3">
                    <span>{{value.customers}}</span>
                    <p>Happy Customers</p>
                </div>
                <div class="row4">
                    <span>{{value.cups}}</span>
                    <p>Cups of coffee</p>
                </div>

            </div>

        </div>

        <div class="blog-end">
            <div class="blog-end-container">
                <div class="blog-end-container-content">
                    <h2>I'm <span> Available</span> for freelancing</h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p class="button"><a href="">Hire me</a></p>
                </div>
            </div>

        </div>

        <!--CONTACT-->
        <div class="contact" id="contact">
            <div class="contact-container">
                <div class="contact-container-text">
                    <h1>Contact</h1>
                    <h2>Contact Me</h2>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
                    </p>
                </div>
                <div class="contact-container-rows">
                    <div class="row1">
                        <span class="circle"><i class="fas fa-map-signs fa-2x"></i></span>
                        <h3>Address</h3>
                        <p>{{about.adress}}</p>
                    </div>
                    <div class="row2">
                        <span class="circle"><i class="fas fa-phone-alt fa-2x"></i></span>
                        <h3>Contact Number</h3>
                        <a href="">{{about.phone}}</a>
                    </div>
                    <div class="row3">
                        <span class="circle"><i class="fab fa-telegram-plane fa-2x"></i></span>
                        <h3>Email Address</h3>
                        <a href="">{{about.email}}</a>
                    </div>
                    <div class="row4">
                        <span class="circle"><i class="fas fa-envelope-open-text fa-2x"></i></i></span>
                        <h3>ZipCode</h3>
                        <a href="">{{about.zip_code}}</a>
                    </div>
                </div>

            </div>

            <div class="contact-form">
                <div class="contact-form-image">
                    {% for contact in contact %}
                    <img src="static/uploads/{{contact.image}}" alt=""> {% endfor %}
                </div>
                <form class="form" method="POST">
                    {{ form.hidden_tag() }}
                    <div action="" class="first">
                        {{ form.name }}
                    </div>

                    <div action="">
                        {{ form.email }}
                    </div>
                    <div action="" style="margin-top: 15px;">
                        {{ form.subject }}
                    </div>
                    <div action="">
                        {{ form.content(class="fourth") }}
                    </div>
                    <div action="" class="last">
                        {{ form.submit(class="") }}
                    </div>
                </form>
            </div>

        </div>

    </main>
    <footer>
        <div class="footer">
            <div class="footer-container">
                <div class="row1">
                    <h2>About</h2>
                    <p>{{about.description}}</p>
                    <ul class="social">
                        <a href="" class="twitter">
                            <li><i class="fab fa-twitter "></i></li>
                        </a>
                        <a href="" class="facebook">
                            <li><i class="fab fa-facebook-f "></i></li>
                        </a>
                        <a href="" class="instagram">
                            <li><i class="fab fa-instagram"></i></li>
                        </a>

                    </ul>
                </div>
                <div class="row2">
                    <h2>Links</h2>
                    <ul>

                        <a href="">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <li> Home</li>
                        </a>
                        <a href="">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <li>About</li>
                        </a>
                        <a href="">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <li>Services</li>
                        </a>
                        <a href="">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <li>Projects</li>
                        </a>
                        <a href="">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <li>Contact</li>
                        </a>
                    </ul>
                </div>
                <div class="row3">
                    <h2>Services</h2>
                    <ul>
                        <a href="">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <li>Web Design</li>
                        </a>
                        <a href="">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <li>Web Development</li>
                        </a>
                        <a href="">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <li>Business Strategy</li>
                        </a>
                        <a href="">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <li>Data Analysis</li>
                        </a>
                        <a href="">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <li>Graphic Design</li>
                        </a>
                    </ul>
                </div>
                <div class="row4">
                    <h2>Have a Questions?</h2>
                    <ul>
                        <p>
                            <i class="fas fa-map-marker-alt"></i>
                            <li> {{about.adress}}</li>
                        </p>
                        <a href="">
                            <i class="fas fa-phone-alt"></i>
                            <li>{{about.phone}}
                            </li>
                        </a>
                        <a href="">
                            <i class="fas fa-envelope"></i>
                            <li>{{about.email}}</li>
                        </a>
                    </ul>
                </div>
            </div>
            <span>Copyright ©2021 All rights reserved</span>
        </div>
    </footer>


    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>