{% extends 'admin/base.html' %} {% block content %}

<div style="    position: relative;
top: 75px;">
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Fullname:</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label>Birthday:</label>
            <input type="text" class="form-control" name="brth-day">
        </div>
        <div class="form-group">
            <label>Adress:</label>
            <input type="text" class="form-control" name="adrss">
        </div>
        <div class="form-group">
            <label>Zip Code</label>
            <input class="form-control" name='zip-code'>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" name='my_email'>
        </div>

        <div class="form-group">
            <label>Image:</label>
            <input type="file" class="form-control" name="file">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</div>

{% endblock %}