{% extends 'admin/base.html' %} {% block content %}



<div class="container" style="position: relative; top: 70px; left:0px">
    <h1>About</h1>
    <div class="row">
        <p>Fullname:</p>
    </div>
    <div class="row">
        <p>Date of birth:</p>
    </div>
    <div class="row">
        <p>Adress:</p>
    </div>
    <div class="row">
        <p>Zip code:</p>
    </div>
    <div class="row">
        <p>Email:</p>
    </div>
    <div class="row">
        <p>Phone:</p>
    </div>


    {% for about in abouts %}
    <div style="position: absolute; top:60px; left: 140px;">
        <p>{{about.name}}</p>
        <p>{{about.brth_day}}</p>
        <p>{{about.adress}}</p>
        <p>{{about.zip_code}}</p>
        <p>{{about.email}}</p>
        <p>{{about.phone}}</p>
    </div>
    {% endfor%}
    <div class="form-group">
        <a href="{{url_for('about_edit')}}">
            <button class="btn btn-dark" type="submit">Update About</button></a>
    </div>
</div>


{% endblock %}