{% extends 'admin/base.html' %} {% block content %}



<div class="container" style="position: relative; top: 70px; left:0px">
    <div class="row">
        <p>Fullname:</p>
        <span>{{abouts.name}}</span>
    </div>
    <div class="row">
        <p>Date of birth:</p>
        <span>{{abouts.brth_day}}</span>
    </div>
    <div class="row">
        <p>Adress:{{abouts.adress}}</p>
        <span>{{abouts.adress}}</span>
    </div>
    <div class="row">
        <p>Zip code:</p>
        <span>{{abouts.zip_code}}</span>
    </div>
    <div class="row">
        <p>Email:</p>
        <span>{{abouts.email}}</span>
    </div>
    <div class="row">
        <p>Phone:</p>
        <span>{{abouts.title}}</span>
    </div>


    {% for about in abouts %}
    <div style="position: absolute; top:0px; left: 140px;">
        <p>{{about.name}}</p>
        <p>{{about.brth_day}}</p>
        <p>{{about.adress}}</p>
        <p>{{about.zip_code}}</p>
        <p>{{about.email}}</p>
        <p>{{about.phone}}</p>
    </div>
    {% endfor%}
</div>


{% endblock %}