{% extends 'admin/base.html' %} {% block content %}


<div class="container" style="position: relative; top: 50px;">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Home List
                    <a href=""> <button type="button" class="btn btn-dark float-right" data-toggle="modal" data-target="#mymodal">Add</button></a>
                </h2>
                <table class="table table-hover table-dark col md-12">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Short Description</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    {% for home in homes %}
                    <tr>
                        <td>{{home.id}}</td>
                        <td>{{home.title}}</td>
                        <td>{{home.description}}</td>
                        <td>{{home.short_description}}</td>
                        <td>{{home.image}}</td>
                        <td>
                            <a href="{{url_for('home_edit', id=home.id)}}" class="btn btn-light btn-xs mb-1">Edit</a>

                            <a href="{{url_for('home_delete', id=home.id)}}" class="btn btn-danger btn-xs mb-1" onclick="return confirm('Are You Sure To Delete?')">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>


</div>

{% endblock %}